{% extends 'app/base.html' %}
{% load static %}
{% block title %}
    Customer Registration
{% endblock title %}
{% block main-content %}
<br><br><br><br><br><br>
<div class="registration__container">
    <div class="col-sm-6 offset-sm-3">
        <h3 align="center">Registration</h3>
        <hr>
        <form action="" method="post"  class="form__name">
            {% csrf_token %}
            {% for fm in form %}
               <p align="center">{{fm.label_tag}} {{fm}} <small class="text">{{fm.errors|striptags}}</small></p>
                <br><br>
            {% endfor %}
            <p align="center"><input type="submit" value="Submit" class="btn btn-primary"><br></p>
            <div class="text-center text-primary fw-bold" align="center">
                <small>Existing User ? <a href="{% url 'login' %}" class="text-danger">Login Now </a></small>
            </div>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br>
{% endblock main-content %}
